<h2>{{'report.visitors' | message}}</h2>

<p ng-show="false">{{'report.visitors' | message}}</p>

<div class="row">
    <form class="sidebar">
        <div class="form-group">
            <label for="startDate">{{'report.visitors.start.date' | message}}</label>
            <input id="startDate" ng-model="vm.startDate" type="date" required></input>
        </div>

        <div class="form-group">
            <label for="endDate">{{'report.visitors.end.date' | message}}</label>
            <input id="endDate" ng-model="vm.endDate" type="date" required></input>
        </div>

        <input id="download" type="submit"  openlmis-download="{{vm.getExportLink()}}"
               value="{{'report.visitors.download' | message}}"/>
    </form>
</div>

