#left {
    float: left;
    margin-right: 40px;
}

#right {
   float: left;
}
.levels {
   display:flex;
   margin: 20px !important;
   height: 20px;
   margin-top: 0px !important;
   margin-bottom: 30px !important;
   padding-top: 0px;
}
p {
 font-style: italic;
}

#download {
    margin-left:245px;
    margin-top:10px;
}