<h2>{{'report.quantification.export.report' | message}}</h2>

<p ng-show="false">{{'quantification-export.report.message' | message}}</p>

<div class="row">
   <form class="sidebar">
    <div class="form-group">
        <label for="program">{{'quantification-export.report.program' | message}}</label>
        <select id="program" ng-model="vm.program"
                ng-options="program as program.name for program in vm.programs"
                required>
        </select>
    </div>

    <div class="form-group">
        <label for="district">{{'quantification-export.report.district' | message}}</label>
        <select id="district" ng-model="vm.district"
                ng-options="district as district.name for district in vm.geographicZones"
                required>
        </select>
    </div>

    <div class="form-group">
        <label for="year">{{'quantification-export.report.year' | message}}</label>
        <select id="year" ng-model="vm.year" ng-change="vm.changeYearFilter()"
                ng-options="year as year.name for year in vm.years"
                required>
        </select>
    </div>

   </form>
  </div>
    <div class="row" ng-if="vm.showPeriod">
        <span for="year">Period List</span>
        <div class="openlmis-table-container">
            <table>
                <thead>
                <tr>
                    <th>{{'quantification-export.report.select' | message}}</th>
                    <th>{{'quantification-export.report.period.name' | message}}</th>
                    <th>{{'quantification-export.report.startDate' | message}}</th>
                    <th>{{'quantification-export.report.endDate' | message}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="period in vm.periods">
                    <td><input type="checkbox"/></td>
                    <td>{{period.name}}</td>
                    <td>{{period.startDate}}</td>
                    <td>{{period.endDate}}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <input id="download" type="submit"  openlmis-download="{{vm.getDownloadUrl(vm)}}"
               value="{{'report.quantification.button.export' | message}}"/>
    </div>

