<h2>{{'report.sourceOfFundSummary.title' | message}}</h2>

<p ng-show="false">{{'report.sourceOfFundSummary.message' | message}}</p>

<div class="row">
    <form class="sidebar" ng-submit="vm.downloadReportUrl()">
        <div class="form-group">
            <label for="zone">{{'report.sourceOfFundSummary.zone' | message}}</label>
            <select id="zone" ng-model="vm.zone"
                    ng-options="zone as zone.name for zone in vm.geographicZones"
                    required>
            </select>
        </div>

        <div class="form-group">
            <label for="facility">{{'report.sourceOfFundSummary.facility' | message}}</label>
            <select id="facility" ng-model="vm.facility"
                    ng-options="facility as facility.name for facility in vm.facilities">
            </select>
        </div>

        <div class="form-group">
            <label for="program">{{'report.sourceOfFundSummary.program' | message}}</label>
            <select id="program" ng-model="vm.program"
                    ng-options="program as program.name for program in vm.programs"
                    required>
            </select>
        </div>

        <div class="form-group">
            <label for="year">{{'report.sourceOfFundSummary.year' | message}}</label>
            <select id="year" ng-model="vm.year" ng-change="vm.changeYearFilter()"
                    ng-options="year as year.name for year in vm.years">
            </select>
        </div>

        <div class="form-group">
            <label for="schedule">{{'report.sourceOfFundSummary.schedule' | message}}</label>
            <select id="schedule" ng-model="vm.schedule"
                    ng-options="schedule as schedule.name for schedule in vm.schedules">
            </select>
        </div>

        <div class="form-group">
            <label for="period">{{'report.sourceOfFundSummary.period' | message}}</label>
            <select id="period" ng-model="vm.period"
                    ng-options="period as period.name for period in vm.periods"
                    required>
            </select>
        </div>

        <fieldset class="form-group">
            <legend>{{'report.sourceOfFundSummary.format' | message}}</legend>
            <label class="radio">
                <input type="radio" ng-model="vm.format" value="pdf" required/>
                {{'report.sourceOfFundSummary.pdf' | message}}
            </label>
            <label class="radio">
                <input type="radio" ng-model="vm.format" value="csv" required/>
                {{'report.sourceOfFundSummary.csv' | message}}
            </label>
            <label class="radio">
                <input type="radio" ng-model="vm.format" value="xls" required/>
                {{'report.sourceOfFundSummary.xls' | message}}
            </label>
            <label class="radio">
                <input type="radio" ng-model="vm.format" value="html" required/>
                {{'report.sourceOfFundSummary.html' | message}}
            </label>
        </fieldset>
        <input type="submit"
               value="{{'report.sourceOfFundSummary.generate' | message}}"/>

    </form>
</div>


